flask==3.0.3
python-dotenv==1.0.1
pydantic==2.11.0
SQLAlchemy==2.0.29
flask-sqlalchemy==3.0.2
flask-migrate==4.0.0
flask-openapi3
jsonschema==3.0.2
flask-openapi3[swagger,redoc,rapidoc,rapipdf,scalar,elements]